# {{ ansible_managed }}

{% if irssi_channels is defined and irssi_channels|length > 0 %}
channels = (
{%   for c in irssi_channels|sort %}
{%     if c.name is defined and c.chatnet is defined %}
{%       set autojoin = 'yes' if c.autojoin is defined and c.autojoin else 'no' %}
  { name = "{{ c.name }}"; chatnet = "{{ c.chatnet }}"; autojoin = "{{ autojoin }}"; }{% if not loop.last %},{% endif %}

{%     endif %}
{%   endfor -%}
);

{% endif %}
{% if irssi_chatnets is defined and irssi_chatnets|length > 0%}
chatnets = {
{%   for c in irssi_chatnets.keys()|sort %}
{%     if irssi_chatnets[c].type is defined %}
  {{ c }} = {
    max_kicks = "{{ irssi_chatnets[c].max_kicks if irssi_chatnets[c].max_kicks is defined else '1' }}";
    max_msgs = "{{ irssi_chatnets[c].max_msgs if irssi_chatnets[c].max_msgs is defined else '1' }}";
    max_whois = "{{ irssi_chatnets[c].max_whois if irssi_chatnets[c].max_whois is defined else '1' }}";
    type = "{{ irssi_chatnets[c].type }}";
  };
{%     endif %}
{%   endfor %}
};

{% endif %}
{% if irssi_ignores is defined and irssi_ignores|length > 0 %}
ignores = (
{%   for i in irssi_ignores|sort %}
{%     if i.level is defined %}
{%     set exception = 'yes' if i.exception is defined and i.exception else 'no' %}
{%     set mask = i.mask|join(',') if i.mask is defined else '*' %}
  { exception = "{{ exception }}"; level = "{{ i.level|join(' ') }}"; mask = "{{ i.mask|join(',') if i.mask is defined else '*' }}"; }{% if not loop.last %},{% endif %}

{%     endif %}
{%   endfor -%}
);

{% endif %}
{% if irssi_servers is defined and irssi_servers|length > 0 %}
servers = (
{%   for s in irssi_servers|sort %}
{%     if s.address is defined and s.chatnet is defined %}
  {
    address = "{{ s.address }}";
    autoconnect = "{{ 'yes' if s.autoconnect is defined and s.autoconnect else 'no' }}";
    chatnet = "{{ s.chatnet }}";
    port = "{{ s.port if s.port is defined else '6667' }}";
    ssl_verify = "{{ 'yes' if s.ssl_verify is defined and s.ssl_verify else 'no' }}";
    use_ssl = "{{ 'yes' if s.use_ssl is defined and s.use_ssl else 'no' }}";
  }{% if not loop.last %},{% endif %}

{%     endif %}
{%   endfor -%}
);

{% endif %}
settings = {
  core = {
    nick = "{{ irssi_settings.core.nick }}";
    real_name = "{{ irssi_settings.core.real_name }}";
    user_name = "{{ irssi_settings.core.user_name }}";
  };
  "fe-text" = { actlist_sort = "refnum"; };
};
